<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>831491083149-1qqkmpemfsroefe4f5956fp66jbii7u1.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.831491083149-1qqkmpemfsroefe4f5956fp66jbii7u1</string>
	<key>API_KEY</key>
	<string>AIzaSyBu-K14vOQy5d0lUCgcZVsUTZXNCD6ns9o</string>
	<key>GCM_SENDER_ID</key>
	<string>831491083149</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.iosdecal.snapChatProject</string>
	<key>PROJECT_ID</key>
	<string>snapchat-clone-c5609</string>
	<key>STORAGE_BUCKET</key>
	<string>snapchat-clone-c5609.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:831491083149:ios:75fa0c2a241b2e03</string>
	<key>DATABASE_URL</key>
	<string>https://snapchat-clone-c5609.firebaseio.com</string>
</dict>
</plist>