<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>WOZNIAK LOUNGE</string>
	<string>HP AUDITORIUM</string>
	<string>SODA HALL</string>
	<string>JACOBS HALL</string>
	<string>MEMORIAL GLADE</string>
	<string>HEARST MINING CIRCLE</string>
	<string>DWINELLE HALL</string>
	<string>CAMPANILE</string>
	<string>SATHER GATE</string>
	<string>GREEK THEATER</string>
	<string>JACOBS HALL</string>
	<string>HAAS SCHOOL OF BUSINESS</string>
	<string>LECONTE HALL</string>
	<string>MOFFITT LIBRARY</string>
	<string>SATHER TOWER</string>
	<string>BANCROFT LIBRARY</string>
	<string>BOWLES HALL</string>
	<string>CALIFORNIA HALL</string>
	<string>MEMORIAL STADIUM</string>
	<string>DOE MEMORIAL LIBRARY</string>
	<string>EVANS HALL</string>
	<string>STERN HALL</string>
	<string>WHEELER HALL</string>
	<string>ZELLERBACH HALL</string>
	<string>LAWRENCE HALL OF SCIENCE</string>
	<string>INTERNATIONAL HOUSE</string>
	<string>FOOTHILL DINING HALL</string>
	<string>CROSSROADS</string>
	<string>KRESGE LIBRARY</string>
	<string>BECHTEL ENGINEERING CENTER</string>
	<string>SUTARDJA DAI</string>
	<string>CORY HALL</string>
	<string>SPROUL PLAZA</string>
	<string>TANG CENTER</string>
	<string>GARBARINI LOUNGE</string>
	<string>BARROWS HALL</string>
	<string>BANCROFT LIBRARY</string>
	<string>EAST ASIAN LIBRARY</string>
	<string>ETCHEVERRY HALL</string>
	<string>FACULTY GLADE</string>
	<string>NORTH GATE</string>
	<string>CLARK KERR CAMPUS</string>
	<string>MARTINEZ COMMONS</string>
	<string>PIMENTEL HALL</string>
	<string>STERN HALL</string>
	<string>LATIMER HALL</string>
	<string>MEMORIAL STADIUM</string>
	<string>UC BOTANICAL GARDENS</string>
	<string>ESHLEMAN HALL</string>
	<string>CHAN SUN AUDITORIUM</string>
	<string>LI KA SHING</string>
	<string>GOLDEN BEAR CAFE</string>
	<string>QUALCOMM CYBERCAFE</string>
	<string>THE TERRACE CAFE</string>
	<string>COMMON GROUNDS</string>
	<string>BEAR MARKET</string>
	<string>RECREATIONAL SPORTS FACILITY</string>
	<string>MLK STUDENT UNION</string>
	<string>FREE SPEECH MOVEMENT CAFE</string>
	<string>PAULEY BALLROOM</string>
	<string>HAAS PAVILION</string>
	<string>VLSB</string>
	<string>LEWIS HALL</string>
</array>
</plist>
